.avatar {
    border: 2px solid #ffffff;
    box-sizing: initial;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.avatar, .avatar img {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 30px; /* Saf3+, Chrome */
    border-radius: 30px; /* Opera 10.5, IE 9 */
}

td.contenido {
    /*white-space: normal !important;*/
    word-wrap: break-word;
    max-width:500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

td.pie,td.titulo{
    max-width:90px;
}

td.opciones{
    max-width:25px;
}
table {
    table-layout: fixed;
}