<!DOCTYPE html>
<html>
  <head>
    <title>Vision Manager Admin</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/components-font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/angular/angular-csp.css">
    <link rel="stylesheet" href="css/photon.min.css">
    <link rel="stylesheet" href="css/myday.css">

    <!-- Javascript -->

  <body >
    <div class="window" ng-app="myday">

      <!-- .toolbar-header sits at the top of your app -->
      <header class="toolbar toolbar-header">
        <h1 class="title">Vision Manager Admin</h1>
      </header>

      <!-- Your app's content goes inside .window-content -->
      <div class="window-content">
        <div class="pane-group">
          <div class="pane pane-sm sidebar">
            <nav class="nav-group" ng-controller="SideMenuController">
              <h5 class="nav-group-title">Menu</h5>
              <span class="nav-group-item" ng-class="{'active':isActive('vision')}"> <a data-ui-sref="vision" > <span class="icon icon-home"></span>Reflexiones</a></span>
              <span class="nav-group-item" ng-class="{'active':isActive('about')}">  <a data-ui-sref="about" > <span class="icon icon-users"></span>Nosotros</a></span>
              <!--<span class="nav-group-item"><a ng-click="ExportDatabase()"><span class="icon icon-export"></span>Exportar </a></span>-->
            </nav>
          </div>

          <div class="pane" data-ui-view>

          </div>
        </div>
      </div>
    </div>
    <!--Scripts-->
  <script src="vendor/angular/angular.js"></script>
  <script src="vendor/angular-animate/angular-animate.min.js"></script>
  <script src="vendor/angular-ui-scroll/dist/ui-scroll.min.js"></script>
  <script src="vendor/angular-ui-scroll/dist/ui-scroll-grid.min.js"></script>
  <script src="vendor/angular-ui-scroll/dist/ui-scroll-jqlite.min.js"></script>
  <script src="vendor/angular-electron/angular-electron.min.js"></script>
  <script src="vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="vendor/angularUtils-pagination/dirPagination.js"></script>
  <script src="vendor/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
  <!--Application-->
  <script src="js/app.js"></script>
  <script src="js/components/myday.controllers.js"></script>
  <script src="js/components/myday.services.js"></script>
  <script src="js/components/myday.filters.js"></script>
  </body>
</html>
