<div class="row">
    <div class="col-sm-12 col-md-12">
        <div class="thumbnail">
            <img src="./img/code.png" alt="Codechanic" />
            <div class="caption">
                <h3>Codechanic</h3>
                <p>  Mantenimiento y desarrollo de sistemas informáticos a la medida.
                    Somos un equipo de programadores e investigadores que nos especializamos en el desarrollo de aplicaciones web. Somos más eficientes en el análisis, diseño e implementación de aplicaciones de gestión (gestión de usuarios, clientes, libros, artículos, etc.), así como el soporte (actualización y mantenimiento correctivo) a aplicaciones con “código heredado”, o sea, desarrolladas previamente por otro equipo o personas.
                    Garantizamos profesionalidad, eficiencia y calidad en los productos terminados.
                </p>
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item" ><i class="fa fa-user"><div style="font-size: 10px;">Codechanic</div></i></li>
            <li class="list-group-item" ><i class="fa fa-phone"><div style="font-size: 10px;">+5354260518 - +5355112453</div></i></li>
            <li class="list-group-item"> <i class="fa fa-envelope"><div style="font-size: 10px;">codechanic@gmail.com</div></i></li>
            <li class="list-group-item" > <i class="fa fa-twitter"><div style="font-size: 10px;">@codechanic</div></i></li>
            <li class="list-group-item"><i class="fa fa-github"><div style="font-size: 10px;">https://github.com/Codechanic</div></i></li>
            <li class="list-group-item"><i class="fa fa-linkedin"><div style="font-size: 10px;">https://www.linkedin.com/company/codechanic</div></i></li>
            <li class="list-group-item"><i class="fa fa-wordpress"><div style="font-size: 10px;">https://codechanic.wordpress.com/</div></i></li>
        </ul>
    </div>
</div>