<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Eliminar el elemento</h4>
</div>
<div class="modal-body">
    <p>¿Desea eliminar el elemento?</p>
    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-ng-click="Delete(record)">
            Eliminar
        </button>
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-ng-click="Close()">
            Cerrar
        </button>

    </div>
</div>