<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" data-ng-click="Close()">
        <span aria-hidden="true">×</span></button>

    <h4 class="modal-title text-capitalize">Lugares</h4>

</div>
<div class="modal-body">
    <div class="row">
        <div class="alert alert-{{alert.type}} alert-dismissable" data-ng-show="alert.show">
            <button type="button" class="close" ng-click="alert.show = false;" aria-hidden="true">×</button>
            {{alert.message}}
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="title_es">T&iacute;tulo</label>
                
                    <input id="title_es" type="text" data-ng-model="record.titulo" class="form-control"/>
                
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="form-group">

                <label for="title_en">Contenido</label>
                <textarea id="title_en"  data-ng-model="record.contenido" class="form-control"></textarea>

            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              
                    <label for="subtitle_es">Pie</label>
                    <input id="subtitle_es" type="text" data-ng-model="record.pie" class="form-control"/>
               
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" data-ng-click="Save(record)">
            Aceptar
        </button>
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal" data-ng-click="Close()">
            Cerrar
        </button>
    </div>
</div>