<div class="row">
    <div class="col-lg-12">
        <div class="page-header"><h3 class="title">Vision Text</h3></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
         <div class="btn-group">
            <button class="btn btn-primary" ng-click="Record({},'lg')">Adicionar</button>
        </div>
        <table class="table-striped" data-ng-show="records.length>0">
            <thead>
            <tr>
                <th>Titulo</th>
                <th>Contenido</th>
                <th>Pie</th>
                <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
            <tr dir-paginate="row in records  |itemsPerPage: 5 track by $index"
                pagination-id="public"
                total-items="total"
                current-page="pagination.current">
                <td class="titulo">{{row.titulo}}</td>
                <td class="contenido"><p>{{row.contenido}}</p></td>
                <td class="pie">{{row.pie}}</td>
                <td class="icon-grande opciones">
                    <i class="fa fa-edit" ng-click="Record(row)"></i>
                    <i class="fa fa-trash" ng-click="Delete(row)"></i>
                </td>
            </tr>
            </tbody>
        </table>
        <dir-pagination-controls
                direction-links="true"
                template-url="js/templates/dirPagination.tpl.html"
                data-pagination-id="public"
                on-page-change="pageChanged(newPageNumber)">
        </dir-pagination-controls>
    </div>
</div>